
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color:#ccffff;

}

tr:nth-child(even) {
    background-color:#f1f1f1;
}